@model MovieStoreUserUI.Models.MovieViewModel
@{
    ViewBag.Title = "IndexTest";
    int columns = 0;
}

<div class="container">

    <div class="row col-sm-8">
        <h3>movies</h3>

        @foreach (var movie in Model.Movies)
        {
            <div class="list-group col-md-4 col-lg-3">
                <a href="/User/Movie/Details/@movie.Id"
                   @if (Model.SelectedMovie.Id == movie.Id) { <text> class="list-group-item active" </text>  }>
                    <h5>@Html.DisplayFor(a => movie.Id)</h5>
                    <h4>@Html.DisplayFor(a => movie.Title)</h4>
                </a>
            </div>

            columns++;
            if (columns % 4 == 0)
            { <div class="clearfix visible-lg"></div> }
            if (columns % 3 == 0)
            { <div class="clearfix visible-md"></div> }
        }

        <div class="clearfix"></div>
        @Html.ActionLink("Add", "Create", null, new { @class = "btn btn-success col-lg-offset-9 col-lg-2 col-md-offset-8 col-md-3 col-xs-12" })
    </div>

    <div class="row col-sm-4">
        @if (Model.SelectedMovie != null)
        {
            @Html.Partial("_Changemovie", Model.SelectedMovie)
        }
        else
        {
            <div style="margin-top:20px" class="alert alert-warning" role="alert">No movie selected</div>
        }
    </div>

</div>



